<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.cms.mapper.master.ArticleLangMainMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.cms.pojo.ArticleLangMain" >
    <id column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="article_class_id" property="articleClassId" jdbcType="BIGINT" />
    <result column="article_origin" property="articleOrigin" jdbcType="VARCHAR" />
    <result column="article_origin_address" property="articleOriginAddress" jdbcType="VARCHAR" />
    <result column="article_image" property="articleImage" jdbcType="VARCHAR" />
    <result column="article_link" property="articleLink" jdbcType="VARCHAR" />
    <result column="article_start_time" property="articleStartTime" jdbcType="TIMESTAMP" />
    <result column="article_end_time" property="articleEndTime" jdbcType="TIMESTAMP" />
    <result column="article_publish_time" property="articlePublishTime" jdbcType="TIMESTAMP" />
    <result column="article_sort" property="articleSort" jdbcType="BIT" />
    <result column="article_digest" property="articleDigest" jdbcType="BIT" />
    <result column="article_commend_flag" property="articleCommendFlag" jdbcType="BIT" />
    <result column="article_comment_flag" property="articleCommentFlag" jdbcType="BIT" />
    <result column="article_state" property="articleState" jdbcType="BIT" />
    <result column="article_publisher_name" property="articlePublisherName" jdbcType="VARCHAR" />
    <result column="article_publisher_id" property="articlePublisherId" jdbcType="BIGINT" />
    <result column="article_type" property="articleType" jdbcType="BIT" />
    <result column="article_attachment_path" property="articleAttachmentPath" jdbcType="VARCHAR" />
    <result column="article_modify_time" property="articleModifyTime" jdbcType="TIMESTAMP" />
    <result column="article_share_count" property="articleShareCount" jdbcType="INTEGER" />
    <collection property="articleLangInfoList" ofType="org.goshop.cms.pojo.ArticleLangInfo">
      <id column="article_info_id" property="articleInfoId" jdbcType="BIGINT" />
      <result column="lang_type" property="langType" jdbcType="VARCHAR" />
      <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
      <result column="article_author" property="articleAuthor" jdbcType="VARCHAR" />
      <result column="article_abstract" property="articleAbstract" jdbcType="VARCHAR" />
      <result column="article_keyword" property="articleKeyword" jdbcType="VARCHAR" />
      <result column="article_click" property="articleClick" jdbcType="INTEGER" />
      <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR" />
    </collection>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.goshop.cms.pojo.ArticleLangMain" extends="BaseResultMap" >
    <result column="article_image_all" property="articleImageAll" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_id, article_class_id, article_origin, article_origin_address, article_image, 
    article_link, article_start_time, article_end_time, article_publish_time, article_sort, 
    article_digest, article_commend_flag, article_comment_flag, article_state, article_publisher_name, 
    article_publisher_id, article_type, article_attachment_path, article_modify_time, 
    article_share_count
  </sql>
  <sql id="Blob_Column_List" >
    article_image_all
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_article_lang_main
    where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_article_lang_main
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.goshop.cms.pojo.ArticleLangMain" >
    insert into gs_article_lang_main (article_id, article_class_id, article_origin, 
      article_origin_address, article_image, article_link, 
      article_start_time, article_end_time, article_publish_time, 
      article_sort, article_digest, article_commend_flag, 
      article_comment_flag, article_state, article_publisher_name, 
      article_publisher_id, article_type, article_attachment_path, 
      article_modify_time, article_share_count, 
      article_image_all)
    values (#{articleId,jdbcType=BIGINT}, #{articleClassId,jdbcType=BIGINT}, #{articleOrigin,jdbcType=VARCHAR}, 
      #{articleOriginAddress,jdbcType=VARCHAR}, #{articleImage,jdbcType=VARCHAR}, #{articleLink,jdbcType=VARCHAR}, 
      #{articleStartTime,jdbcType=TIMESTAMP}, #{articleEndTime,jdbcType=TIMESTAMP}, #{articlePublishTime,jdbcType=TIMESTAMP}, 
      #{articleSort,jdbcType=BIT}, #{articleDigest,jdbcType=BIT}, #{articleCommendFlag,jdbcType=BIT}, 
      #{articleCommentFlag,jdbcType=BIT}, #{articleState,jdbcType=BIT}, #{articlePublisherName,jdbcType=VARCHAR}, 
      #{articlePublisherId,jdbcType=BIGINT}, #{articleType,jdbcType=BIT}, #{articleAttachmentPath,jdbcType=VARCHAR}, 
      #{articleModifyTime,jdbcType=TIMESTAMP}, #{articleShareCount,jdbcType=INTEGER}, 
      #{articleImageAll,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="articleId"   parameterType="org.goshop.cms.pojo.ArticleLangMain" >
    insert into gs_article_lang_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="articleClassId != null" >
        article_class_id,
      </if>
      <if test="articleOrigin != null" >
        article_origin,
      </if>
      <if test="articleOriginAddress != null" >
        article_origin_address,
      </if>
      <if test="articleImage != null" >
        article_image,
      </if>
      <if test="articleLink != null" >
        article_link,
      </if>
      <if test="articleStartTime != null" >
        article_start_time,
      </if>
      <if test="articleEndTime != null" >
        article_end_time,
      </if>
      <if test="articlePublishTime != null" >
        article_publish_time,
      </if>
      <if test="articleSort != null" >
        article_sort,
      </if>
      <if test="articleDigest != null" >
        article_digest,
      </if>
      <if test="articleCommendFlag != null" >
        article_commend_flag,
      </if>
      <if test="articleCommentFlag != null" >
        article_comment_flag,
      </if>
      <if test="articleState != null" >
        article_state,
      </if>
      <if test="articlePublisherName != null" >
        article_publisher_name,
      </if>
      <if test="articlePublisherId != null" >
        article_publisher_id,
      </if>
      <if test="articleType != null" >
        article_type,
      </if>
      <if test="articleAttachmentPath != null" >
        article_attachment_path,
      </if>
      <if test="articleModifyTime != null" >
        article_modify_time,
      </if>
      <if test="articleShareCount != null" >
        article_share_count,
      </if>
      <if test="articleImageAll != null" >
        article_image_all,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="articleClassId != null" >
        #{articleClassId,jdbcType=BIGINT},
      </if>
      <if test="articleOrigin != null" >
        #{articleOrigin,jdbcType=VARCHAR},
      </if>
      <if test="articleOriginAddress != null" >
        #{articleOriginAddress,jdbcType=VARCHAR},
      </if>
      <if test="articleImage != null" >
        #{articleImage,jdbcType=VARCHAR},
      </if>
      <if test="articleLink != null" >
        #{articleLink,jdbcType=VARCHAR},
      </if>
      <if test="articleStartTime != null" >
        #{articleStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleEndTime != null" >
        #{articleEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articlePublishTime != null" >
        #{articlePublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleSort != null" >
        #{articleSort,jdbcType=BIT},
      </if>
      <if test="articleDigest != null" >
        #{articleDigest,jdbcType=BIT},
      </if>
      <if test="articleCommendFlag != null" >
        #{articleCommendFlag,jdbcType=BIT},
      </if>
      <if test="articleCommentFlag != null" >
        #{articleCommentFlag,jdbcType=BIT},
      </if>
      <if test="articleState != null" >
        #{articleState,jdbcType=BIT},
      </if>
      <if test="articlePublisherName != null" >
        #{articlePublisherName,jdbcType=VARCHAR},
      </if>
      <if test="articlePublisherId != null" >
        #{articlePublisherId,jdbcType=BIGINT},
      </if>
      <if test="articleType != null" >
        #{articleType,jdbcType=BIT},
      </if>
      <if test="articleAttachmentPath != null" >
        #{articleAttachmentPath,jdbcType=VARCHAR},
      </if>
      <if test="articleModifyTime != null" >
        #{articleModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleShareCount != null" >
        #{articleShareCount,jdbcType=INTEGER},
      </if>
      <if test="articleImageAll != null" >
        #{articleImageAll,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.cms.pojo.ArticleLangMain" >
    update gs_article_lang_main
    <set >
      <if test="articleClassId != null" >
        article_class_id = #{articleClassId,jdbcType=BIGINT},
      </if>
      <if test="articleOrigin != null" >
        article_origin = #{articleOrigin,jdbcType=VARCHAR},
      </if>
      <if test="articleOriginAddress != null" >
        article_origin_address = #{articleOriginAddress,jdbcType=VARCHAR},
      </if>
      <if test="articleImage != null" >
        article_image = #{articleImage,jdbcType=VARCHAR},
      </if>
      <if test="articleLink != null" >
        article_link = #{articleLink,jdbcType=VARCHAR},
      </if>
      <if test="articleStartTime != null" >
        article_start_time = #{articleStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleEndTime != null" >
        article_end_time = #{articleEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articlePublishTime != null" >
        article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleSort != null" >
        article_sort = #{articleSort,jdbcType=BIT},
      </if>
      <if test="articleDigest != null" >
        article_digest = #{articleDigest,jdbcType=BIT},
      </if>
      <if test="articleCommendFlag != null" >
        article_commend_flag = #{articleCommendFlag,jdbcType=BIT},
      </if>
      <if test="articleCommentFlag != null" >
        article_comment_flag = #{articleCommentFlag,jdbcType=BIT},
      </if>
      <if test="articleState != null" >
        article_state = #{articleState,jdbcType=BIT},
      </if>
      <if test="articlePublisherName != null" >
        article_publisher_name = #{articlePublisherName,jdbcType=VARCHAR},
      </if>
      <if test="articlePublisherId != null" >
        article_publisher_id = #{articlePublisherId,jdbcType=BIGINT},
      </if>
      <if test="articleType != null" >
        article_type = #{articleType,jdbcType=BIT},
      </if>
      <if test="articleAttachmentPath != null" >
        article_attachment_path = #{articleAttachmentPath,jdbcType=VARCHAR},
      </if>
      <if test="articleModifyTime != null" >
        article_modify_time = #{articleModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleShareCount != null" >
        article_share_count = #{articleShareCount,jdbcType=INTEGER},
      </if>
      <if test="articleImageAll != null" >
        article_image_all = #{articleImageAll,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.goshop.cms.pojo.ArticleLangMain" >
    update gs_article_lang_main
    set article_class_id = #{articleClassId,jdbcType=BIGINT},
      article_origin = #{articleOrigin,jdbcType=VARCHAR},
      article_origin_address = #{articleOriginAddress,jdbcType=VARCHAR},
      article_image = #{articleImage,jdbcType=VARCHAR},
      article_link = #{articleLink,jdbcType=VARCHAR},
      article_start_time = #{articleStartTime,jdbcType=TIMESTAMP},
      article_end_time = #{articleEndTime,jdbcType=TIMESTAMP},
      article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      article_sort = #{articleSort,jdbcType=BIT},
      article_digest = #{articleDigest,jdbcType=BIT},
      article_commend_flag = #{articleCommendFlag,jdbcType=BIT},
      article_comment_flag = #{articleCommentFlag,jdbcType=BIT},
      article_state = #{articleState,jdbcType=BIT},
      article_publisher_name = #{articlePublisherName,jdbcType=VARCHAR},
      article_publisher_id = #{articlePublisherId,jdbcType=BIGINT},
      article_type = #{articleType,jdbcType=BIT},
      article_attachment_path = #{articleAttachmentPath,jdbcType=VARCHAR},
      article_modify_time = #{articleModifyTime,jdbcType=TIMESTAMP},
      article_share_count = #{articleShareCount,jdbcType=INTEGER},
      article_image_all = #{articleImageAll,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.cms.pojo.ArticleLangMain" >
    update gs_article_lang_main
    set article_class_id = #{articleClassId,jdbcType=BIGINT},
      article_origin = #{articleOrigin,jdbcType=VARCHAR},
      article_origin_address = #{articleOriginAddress,jdbcType=VARCHAR},
      article_image = #{articleImage,jdbcType=VARCHAR},
      article_link = #{articleLink,jdbcType=VARCHAR},
      article_start_time = #{articleStartTime,jdbcType=TIMESTAMP},
      article_end_time = #{articleEndTime,jdbcType=TIMESTAMP},
      article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      article_sort = #{articleSort,jdbcType=BIT},
      article_digest = #{articleDigest,jdbcType=BIT},
      article_commend_flag = #{articleCommendFlag,jdbcType=BIT},
      article_comment_flag = #{articleCommentFlag,jdbcType=BIT},
      article_state = #{articleState,jdbcType=BIT},
      article_publisher_name = #{articlePublisherName,jdbcType=VARCHAR},
      article_publisher_id = #{articlePublisherId,jdbcType=BIGINT},
      article_type = #{articleType,jdbcType=BIT},
      article_attachment_path = #{articleAttachmentPath,jdbcType=VARCHAR},
      article_modify_time = #{articleModifyTime,jdbcType=TIMESTAMP},
      article_share_count = #{articleShareCount,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>

  <select id="findManyAll" resultMap="BaseResultMap" >
    SELECT
        m.* ,i.*
    FROM
        gs_article_lang_main m
    LEFT JOIN gs_article_lang_info i ON m.article_id = i.article_id
    order by m.article_sort,m.article_publish_time desc
      </select>


  <select id="findManyOne" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long"  >
    SELECT
    m.* ,i.*
    FROM
    gs_article_lang_main m
    LEFT JOIN gs_article_lang_info i ON m.article_id = i.article_id
     where m.article_id = #{articleId,jdbcType=BIGINT}
  </select>

  <select id="queryMany" resultMap="BaseResultMap">
    SELECT distinct m.* ,i.*
    FROM
    gs_article_lang_main m
    LEFT JOIN gs_article_lang_info i ON m.article_id = i.article_id
    where 1=1
    <if test="articleTitle != null and articleTitle != ''" >
     and i.article_title  like CONCAT('%',#{articleTitle},'%')
    </if>
    <if test="articleAuthor != null and articleAuthor != ''" >
     and i.article_author  like CONCAT('%',#{articleTitle},'%')
    </if>
    <if test="articleState != null" >
     and  m.article_state = #{articleState}
    </if>
    <if test="articleClassId != null" >
     and m.article_class_id = #{articleClassId}
    </if>
    order by m.article_sort,m.article_publish_time desc
  </select>

  <update id="updateByArticleSort" >
    update gs_article_lang_main
    set article_sort = #{articleSort,jdbcType=BIT}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>

  <select id="findManyByArticleClassId" resultMap="BaseResultMap" parameterType="java.lang.Long"  >
    SELECT
    m.* ,i.*
    FROM
    gs_article_lang_main m
    LEFT JOIN gs_article_lang_info i ON m.article_id = i.article_id
    where m.article_class_id = #{articleClassId,jdbcType=BIGINT}
    order by m.article_sort,m.article_publish_time desc
  </select>

  <select id="findPublishManyByArticleClassId" resultMap="BaseResultMap">
    SELECT
    m.* ,i.*
    FROM
    gs_article_lang_main m
    LEFT JOIN gs_article_lang_info i ON m.article_id = i.article_id
    where m.article_state=3
    <if test="year != null and year != ''" >
      and year(m.article_publish_time)= #{year}
    </if>
    <if test="articleClassId != null" >
      and  m.article_class_id = #{articleClassId,jdbcType=BIGINT}
    </if>
    and i.lang_type=#{langType}
    order by m.article_sort,m.article_publish_time desc
  </select>

  <select id="findRetrenchPublishManyByArticleClassId" resultMap="BaseResultMap">
    SELECT
    m.article_id , m.article_class_id,m.article_image,m.article_start_time,m.article_end_time,
    m.article_publish_time,m.article_sort,m.article_state,m.article_publisher_name,m.article_publisher_id,
    i.article_info_id,i.article_title,i.article_author,i.article_abstract
    FROM
    gs_article_lang_main m
    LEFT JOIN gs_article_lang_info i ON m.article_id = i.article_id
    where m.article_state=3
    <if test="year != null and year != ''" >
      and year(m.article_publish_time)= #{year}
    </if>
    <if test="articleClassId != null" >
      and  m.article_class_id = #{articleClassId,jdbcType=BIGINT}
    </if>
    and i.lang_type=#{langType}
    order by m.article_sort,m.article_publish_time desc
  </select>


  <select id="findRetrenchImagePublishManyByArticleClassId" resultMap="BaseResultMap">
    SELECT
    m.article_id , m.article_class_id,m.article_image,m.article_start_time,m.article_end_time,
    m.article_publish_time,m.article_sort,m.article_state,m.article_publisher_name,m.article_publisher_id,
    i.article_info_id,i.article_title,i.article_author,i.article_abstract
    FROM
    gs_article_lang_main m
    LEFT JOIN gs_article_lang_info i ON m.article_id = i.article_id
    where m.article_state=3
    <if test="year != null and year != ''" >
      and year(m.article_publish_time)= #{year}
    </if>
    <if test="articleClassId != null" >
      and  m.article_class_id = #{articleClassId,jdbcType=BIGINT}
    </if>
    and i.lang_type=#{langType}
    and m.article_image is not null and m.article_image !=''
    order by m.article_sort,m.article_publish_time desc
  </select>

</mapper>