<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.goods.mapper.read.ReadGoodsClassMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GoodsClass" >
    <id column="gc_id" property="gcId" jdbcType="INTEGER" />
    <result column="gc_name" property="gcName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="gc_parent_id" property="gcParentId" jdbcType="INTEGER" />
    <result column="gc_sort" property="gcSort" jdbcType="INTEGER" />
    <result column="gc_title" property="gcTitle" jdbcType="VARCHAR" />
    <result column="gc_keywords" property="gcKeywords" jdbcType="VARCHAR" />
    <result column="gc_description" property="gcDescription" jdbcType="VARCHAR" />
    <result column="gc_pic" property="gcPic" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <collection property="children" ofType="org.goshop.goods.pojo.GoodsClass" column="gc_parent_id">
      <id column="c_gc_id" property="gcId" jdbcType="INTEGER" />
      <result column="c_gc_name" property="gcName" jdbcType="VARCHAR" />
      <result column="c_type_id" property="typeId" jdbcType="INTEGER" />
      <result column="c_type_name" property="typeName" jdbcType="VARCHAR" />
      <result column="c_gc_sort" property="gcSort" jdbcType="INTEGER" />
      <result column="c_gc_title" property="gcTitle" jdbcType="VARCHAR" />
      <result column="c_gc_keywords" property="gcKeywords" jdbcType="VARCHAR" />
      <result column="c_gc_pic" property="gcPic" jdbcType="VARCHAR" />
      <result column="c_gc_description" property="gcDescription" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    gc_id, gc_name, type_id, type_name, gc_parent_id, gc_sort, gc_title, gc_keywords, 
    gc_description,gc_pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gs_goods_class
    where gc_id = #{gcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gs_goods_class
    where gc_id = #{gcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.goshop.goods.pojo.GoodsClass" >
    insert into gs_goods_class (gc_id, gc_name, type_id, 
      type_name, gc_parent_id, gc_sort, 
      gc_title, gc_keywords, gc_description, 
      gc_pic)
    values (#{gcId,jdbcType=INTEGER}, #{gcName,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR}, #{gcParentId,jdbcType=INTEGER}, #{gcSort,jdbcType=INTEGER}, 
      #{gcTitle,jdbcType=VARCHAR}, #{gcKeywords,jdbcType=VARCHAR}, #{gcDescription,jdbcType=VARCHAR}, 
      #{gcPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.goods.pojo.GoodsClass" >
    insert into gs_goods_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gcId != null" >
        gc_id,
      </if>
      <if test="gcName != null" >
        gc_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="gcParentId != null" >
        gc_parent_id,
      </if>
      <if test="gcSort != null" >
        gc_sort,
      </if>
      <if test="gcTitle != null" >
        gc_title,
      </if>
      <if test="gcKeywords != null" >
        gc_keywords,
      </if>
      <if test="gcDescription != null" >
        gc_description,
      </if>
      <if test="gcPic != null" >
        gc_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gcId != null" >
        #{gcId,jdbcType=INTEGER},
      </if>
      <if test="gcName != null" >
        #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="gcParentId != null" >
        #{gcParentId,jdbcType=INTEGER},
      </if>
      <if test="gcSort != null" >
        #{gcSort,jdbcType=INTEGER},
      </if>
      <if test="gcTitle != null" >
        #{gcTitle,jdbcType=VARCHAR},
      </if>
      <if test="gcKeywords != null" >
        #{gcKeywords,jdbcType=VARCHAR},
      </if>
      <if test="gcDescription != null" >
        #{gcDescription,jdbcType=VARCHAR},
      </if>
      <if test="gcPic != null" >
        #{gcPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.goods.pojo.GoodsClass" >
    update gs_goods_class
    <set >
      <if test="gcName != null" >
        gc_name = #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="gcParentId != null" >
        gc_parent_id = #{gcParentId,jdbcType=INTEGER},
      </if>
      <if test="gcSort != null" >
        gc_sort = #{gcSort,jdbcType=INTEGER},
      </if>
      <if test="gcTitle != null" >
        gc_title = #{gcTitle,jdbcType=VARCHAR},
      </if>
      <if test="gcKeywords != null" >
        gc_keywords = #{gcKeywords,jdbcType=VARCHAR},
      </if>
      <if test="gcDescription != null" >
        gc_description = #{gcDescription,jdbcType=VARCHAR},
      </if>
      <if test="gcPic != null" >
        gc_pic = #{gcPic,jdbcType=VARCHAR},
      </if>
    </set>
    where gc_id = #{gcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.goods.pojo.GoodsClass" >
    update gs_goods_class
    set gc_name = #{gcName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      gc_parent_id = #{gcParentId,jdbcType=INTEGER},
      gc_sort = #{gcSort,jdbcType=INTEGER},
      gc_title = #{gcTitle,jdbcType=VARCHAR},
      gc_keywords = #{gcKeywords,jdbcType=VARCHAR},
      gc_description = #{gcDescription,jdbcType=VARCHAR},
      gc_pic = #{gcPic,jdbcType=VARCHAR}
    where gc_id = #{gcId,jdbcType=INTEGER}
  </update>

  <select id="findTreeByGcParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    t.gc_id,
    t.gc_name,
    t.type_id,
    t.type_name,
    t.gc_sort,
    t.gc_title,
    t.gc_keywords,
    t.gc_description,
    t.gc_pic,
    child.gc_id AS c_gc_id,
    child.gc_name AS c_gc_name,
    child.type_id AS c_type_id,
    child.type_name AS c_type_name,
    child.gc_sort AS c_gc_sort,
    child.gc_title AS c_gc_title,
    child.gc_keywords AS c_gc_keywords,
    child.gc_description AS c_gc_description,
    child.gc_pic AS c_gc_pic
    FROM
    gs_goods_class t
    LEFT JOIN gs_goods_class child ON (child.gc_parent_id = t.gc_id)
    WHERE
    t.gc_parent_id = #{gcParentId,jdbcType=BIGINT}
    ORDER BY
    t.gc_sort
  </select>
  <select id="findByGcParentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_class
    where gc_parent_id = #{gcParentId,jdbcType=INTEGER}
  </select>

  <select id="findByGcNameGcParentId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_class
    where gc_parent_id = #{gcParentId,jdbcType=INTEGER}
    and gc_name = #{gcName,jdbcType=VARCHAR}
  </select>

  <select id="findAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_class
  </select>

  <select id="findGradeByGcParentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
SELECT
	leaf.*,
	COUNT(entity.gc_id) AS grade
FROM
	gs_goods_class leaf
LEFT JOIN gs_goods_class entity ON leaf.gc_id = entity.gc_parent_id
WHERE
	leaf.gc_parent_id = #{gcParentId,jdbcType=INTEGER}
GROUP BY
	leaf.gc_id
    order by leaf.gc_sort,leaf.gc_id
  </select>

</mapper>