<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.goods.mapper.master.GoodsTypeMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GoodsType" >
    <id column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="type_sort" property="typeSort" jdbcType="BIT" />
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_id, type_name, type_sort, class_id, class_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gs_goods_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gs_goods_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.goshop.goods.pojo.GoodsType" >
    insert into gs_goods_type (type_id, type_name, type_sort, 
      class_id, class_name)
    values (#{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{typeSort,jdbcType=BIT}, 
      #{classId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.goods.pojo.GoodsType" >
    insert into gs_goods_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="typeSort != null" >
        type_sort,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="className != null" >
        class_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSort != null" >
        #{typeSort,jdbcType=BIT},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.goods.pojo.GoodsType" >
    update gs_goods_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSort != null" >
        type_sort = #{typeSort,jdbcType=BIT},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.goods.pojo.GoodsType" >
    update gs_goods_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      type_sort = #{typeSort,jdbcType=BIT},
      class_id = #{classId,jdbcType=INTEGER},
      class_name = #{className,jdbcType=VARCHAR}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from gs_goods_type order by type_sort
  </select>
</mapper>