<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 声明远程服务接口 -->
	<dubbo:reference id="goodsClassService"
					 interface="org.goshop.goods.i.GoodsClassService" check="false" />

	<dubbo:reference id="goodsTypeService"
					 interface="org.goshop.goods.i.GoodsTypeService" check="false" />
</beans>  