@charset "utf-8";
/* CSS Document */


/*页面整体宽度控制*/
.wrapper { width: 1200px; margin: auto;}
/* 公用头部区域 
-------------------------------------- */
.header-wrap { background-color: #FFF; width: 100%;}
.public-head-layout { height: 100px;}
/* 站点logo */
.public-head-layout .site-logo { width: 240px; height: 60px; float: left; margin: 15px 60px auto 0;}
.public-head-layout .site-logo img { max-width: 240px; max-height: 60px;}
/* 头部搜索 */
.head-search-bar { width: 500px; float: left; margin: 17px 0 0; overflow: hidden;}
.head-search-bar .search-form { background-color: #D93600; height: 36px; padding: 3px;}
.head-search-bar .input-text { line-height: 24px; color: #555; width: 82%; height: 24px; float: left; padding: 6px 1%; border: none 0;}
.head-search-bar .input-submit { font-size: 14px; color: #FFF; font-weight: 600; background-color: transparent; width: 15%; height: 40px; float: right; border: none; cursor: pointer;}
.head-search-bar .keyword { line-height: 20px; color: #999; width: 500px; height: 20px; margin-top: 4px; overflow: hidden;}
.head-search-bar .keyword ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: top; display: inline-block; *display:inline/*IE6、7*/;}
.head-search-bar .keyword ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin-right: 12px;}
.head-search-bar .keyword ul li a { color: #777;}
/* 头部用户型菜单*/
.head-user-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: right; margin: 18px 0 0 0; }
.head-user-menu dl { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin-right: 10px; position: relative; z-index: 3; *zoom:1/*IE6、7*/;}
.head-user-menu dl.my-mall { width: 108px;}
.head-user-menu dl.my-cart { width: 124px;}
.head-user-menu dl.hover { z-index: 101;}
.head-user-menu dl dt { line-height: 20px; color: #555; background-color: #FAFAFA; height: 20px; padding: 10px; border: solid 1px #F0F0F0; position: absolute; z-index: 2; top: 0; right: 0; cursor: pointer;}
.head-user-menu dl.my-mall dt { width: 90px;}
.head-user-menu dl.my-cart dt { width: 106px;}
.head-user-menu dl.hover dt { background-color: #FFF; border-width: 1px; border-color: #F0F0F0 #F0F0F0 #FFF #F0F0F0;}
.head-user-menu dl dt span.ico { background: url(../images/top_bg.png) no-repeat; vertical-align: middle; display: inline-block; width: 20px; height: 16px; }
.head-user-menu dl.my-mall span.ico { background-position: -100px 0; margin-right: 4px;}
.head-user-menu dl.my-cart span.ico { background-position: -120px 0; margin-right: 8px;}
.head-user-menu dl dt i { font-size: 0px; line-height: 0; vertical-align: middle; display: inline-block; width: 0px; height: 0px; margin-left: 8px; border-width: 4px; border-color: #777 transparent transparent transparent; border-style:solid dashed dashed dashed; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.head-user-menu dl.hover dt i { FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
.head-user-menu dl dd { background-color: #FFF; display: none; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 40px; right: 0; }
.head-user-menu dl.my-mall dd { width: 308px;}
.head-user-menu dl.my-cart dd { width: 348px;}
.head-user-menu dl.hover dd { display: block;}
.head-user-menu dl dd a { color: #005EA6;}
.head-user-menu a.arrow i { background:url(../images/top_bg.png) no-repeat -150px 0; vertical-align: middle; display: inline-block; width: 4px; height: 7px; margin-left: 4px;}
.head-user-menu dl dd .goods-thumb { width: 50px; height: 50px;}
.head-user-menu dl dd .goods-thumb a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 48px; height: 48px; border: solid 1px #DDD; overflow: hidden; }
.head-user-menu dl dd .goods-thumb img { max-width: 48px; max-height: 48px; margin-top:expression(48-this.height/2); *margin-top:expression(24-this.height/2);}
.head-user-menu dl dd .sub-title { line-height: 28px; height: 28px; padding: 7px; border-bottom: solid 1px #DDD;}
.head-user-menu dl dd .sub-title h4 { font-weight: 600; float: left;}
.head-user-menu dl dd .sub-title a { float: right;}
.head-user-menu dl dd .user-centent-menu { width: 308px; padding: 8px 0; overflow: hidden;}
.head-user-menu dl dd .user-centent-menu ul { width: 310px; margin-left: -2px;}
.head-user-menu dl dd .user-centent-menu ul li { width: 138px; float: left; padding: 4px 0 4px 16px; border-left: solid 1px #EEE; }
.head-user-menu dl dd .browse-history { background-color: #FAFAFA; width: 308px; border-style: solid; border-width: 1px 0 0; border-color: #DDD transparent transparent;}
.head-user-menu dl dd .browse-history .part-title { height: 20px; padding: 6px 8px; }
.head-user-menu dl dd .browse-history .part-title h4 { float: left;}
.head-user-menu dl dd .browse-history .part-title a { float: right;}
.head-user-menu dl dd .browse-history ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 0 7px 7px 7px;}
.head-user-menu dl dd .browse-history ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin: 0 4px; *zoom: 1;}
.head-user-menu dl dd .browse-history .no-goods { text-align: center; display: block; width: 100%; font-size: 12px;}
.head-user-menu dl dd .incart-goods-box { display: block; width: 348px; max-height: 267px; overflow: hidden; position: relative;}
.head-user-menu dl dd .incart-goods { text-align: center; width: 100%;}
.head-user-menu dl dd .incart-goods .no-order { margin: 20px 0;}
.head-user-menu dl dd .incart-goods .loading { width: 16px; height: 16px; margin: 20px auto;}
.head-user-menu dl dd .incart-goods dl { display: block; width: 98%; height: 66px; clear: both; margin: 0 auto 0 2%; border-bottom: dotted 1px #DDD; position: relative; z-index: 1; }
.head-user-menu dl dd .incart-goods dt, .head-user-menu dl dd .incart-goods dd { background-color: transparent; border: 0; position: absolute; z-index: 1; }
.head-user-menu dl dd .incart-goods dt.goods-name { line-height: 16px; background-color: transparent; text-align: left; width: 180px; height: 32px; padding: 0; top: 8px; left: 64px; }
.head-user-menu dl dd .incart-goods dt.goods-name a { color: #333;}
.head-user-menu dl dd .incart-goods dd.goods-thumb { top: 8px; left: 8px;}
.head-user-menu dl dd .incart-goods dd.goods-price { text-align: right; width: 80px; height: 16px; top: 6px; right: 12px;}
.head-user-menu dl dd .incart-goods dd.goods-price em { font-size: 11px !important; font-weight: normal!important; line-height: 16px; color: #777 !important; word-break: break-all; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; text-align: right; width: 50px; margin-right: 4px; overflow: hidden; -webkit-text-size-adjust:none;}
.head-user-menu dl dd .incart-goods dd.goods-sales { line-height: 16px; color: #999; background-color: transparent; width: 270px; height: 16px; top: 42px; left: 64px; }
.head-user-menu dl dd .incart-goods dd.handle {  width: 32px; top: 22px; right: 10px;}
.head-user-menu dl dd .checkout { background-color: #F0F0F0; text-align: right; padding: 8px; overflow: hidden;}
.head-user-menu dl dd .checkout .total-price { line-height: 20px; display: block;}
.head-user-menu dl dd .checkout .total-price i { font-weight: 600; color: #C00; margin: 0 4px;}
.head-user-menu dl dd .checkout .total-price em { font-family: Verdana, Geneva, sans-serif; font-size: 18px; font-weight: 600; color: #C00;}
.head-user-menu dl dd .checkout .btn-cart { float: right; clear: both; line-height: 20px; color: #FFF; background-color: #D93600; padding: 4px 8px; margin-top: 4px; border-radius: 4px;}
.head-user-menu dl div.addcart-goods-num { font: bold 11px/14px Verdana; color: #FFF; background: #F00; text-align: center; display: inline-block; height: 16px; min-width: 16px; max-width: auto!important; border: none 0; border-radius: 8px; position: absolute; z-index: 3; top: -4px; left: 20px;}

/* 公用导航区域 
-------------------------------------- */
.public-nav-layout { background-color: #D93600; width: 100%; height: 40px; position: relative; z-index: 99;}
/*站点导航菜单*/
.public-nav-layout .site-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: left;}
.public-nav-layout .site-menu li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;}
.public-nav-layout .site-menu li a { font-size: 14px; font-weight: 600; line-height: 40px; color: #FFF; height: 40px; padding: 0 20px; border-right: solid 1px #B22D00; display: inline-block; *display:inline/*IE6、7*/; zoom:1;}
.public-nav-layout .site-menu li a:hover { text-decoration: none; background-color: #CA3300;}
.public-nav-layout .site-menu li a.current { text-shadow: 1px 1px 0 rgba(0,0,0,0.2); background-color: #B22D00;}
/*分类导航菜单*/
.public-nav-layout .all-category { display: block; width: 210px; height: 40px; float: left; border: solid #B22D00; border-width: 0 1px;}
.public-nav-layout .all-category .title { line-height: 20px; height: 20px; padding: 10px;}
.public-nav-layout .all-category .title h3 a { font-weight: 600; color: #FFF; float: left; margin-left: 4px;}

.public-nav-layout .all-category .title i { font-size: 0px; line-height: 0; width: 0px; height: 0px; float: right; margin: 8px 4px 0 0; border-width: 5px; border-color: #FFF transparent transparent transparent; border-style: solid dashed dashed dashed;}
.public-nav-layout .all-category .category { display:none; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000'); background:rgba(0,0,0,0.1); width: 210px; padding: 0 1px 1px; margin-left: -1px;}
.public-nav-layout .all-category:hover .category { display:block;}
.public-nav-layout .category .menu { background-color: #FFF;}
.public-nav-layout .category .menu li { background-color: #FAFAFA; width: 210px; height: 59px; *float: left; *clear: left; border-top: solid 1px #FFF; position: relative; z-index: 1; zoom:1;}
.public-nav-layout .category .menu li.odd { background-color: #FAFAFA;}
.public-nav-layout .category .menu li.even { background-color: #F0F0F0;}
.public-nav-layout .category .menu li.hover { z-index: 2;}
.public-nav-layout .category .class { border-style: solid; border-width: 1px 0 1px 4px; border-color: transparent; display: block; width: 178px; height: 35px; padding: 12px 15px; position: absolute; z-index: 1; top: -1px; left: -1px;}
.public-nav-layout .category .hover .class { background-color: #FFF!important; border-color: #B22D00 transparent #B22D00 #B22D00; z-index: 2;}
.public-nav-layout .category .class span.ico { width: 16px; height: 16px; float: left; margin-right: 6px; float:left; filter:alpha(opacity=50)/*IE*/; -moz-opacity:0.5/*Moz+FF*/; opacity: 0.5;}
.public-nav-layout .category .menu li.hover .ico { filter:alpha(opacity=100)/*IE*/; -moz-opacity:1/*Moz+FF*/; opacity: 1;}
.public-nav-layout .category .class span.ico img { max-width: 16px; max-height: 16px; -webkit-filter: grayscale(100%)/*Webkit*/; -o-filter: grayscale(100%); filter: gray;}
.public-nav-layout .category .menu li.hover .ico img { -webkit-filter: grayscale(0)/*Webkit*/; -o-filter: grayscale(0); filter: none;}
.public-nav-layout .category .class h4 { font-weight: 600; line-height: 16px; color: #333; height: 16px; float: left;}
.public-nav-layout .category .class h4 a { color: #333;}
.public-nav-layout .category .menu li.hover .class h4 a { color: #B22D00;}
.public-nav-layout .category .class .recommend-class { line-height: 16px; width: 168px; height: 16px; float: left; clear: both; margin-top: 4px; overflow: hidden;}
.public-nav-layout .category .class .recommend-class a { color: #999; white-space: nowrap; margin-right: 6px;}
.public-nav-layout .category .class .arrow { background: url(../images/top_bg.png) no-repeat -150px -10px; width: 5px; height: 9px; float: right;}
.public-nav-layout .category .sub-class { background-color: #FFF; display: none; width: 532px; padding: 0 7px; border: solid 1px #B22D00; position: absolute; z-index: 1;top: -1px; left: 210px;}
.public-nav-layout .category li.hover .sub-class { display: block;}
.public-nav-layout .category .sub-class dl { width: 250px; margin: 8px; float: left;}
.public-nav-layout .category .sub-class dl dt { line-height: 24px; border-bottom: solid 2px #333;}
.public-nav-layout .category .sub-class dl dt h3 { font-weight: 600; color: #333;}
.public-nav-layout .category .sub-class dl dd { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 3px 0;}
.public-nav-layout .category .sub-class dl dd.brands-class { border-top: dotted 1px #333; margin-top: 4px;}
.public-nav-layout .category .sub-class dl dd a { font-family: Tahoma; font-size: 12px; line-height: 16px; color: #555; background: url(../images/top_bg.png) no-repeat right -24px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; height: 16px; padding-right: 7px; margin: 2px 7px 2px 0; *zoom:1/*IE6、7*/;}
.public-nav-layout .category .sub-class dl dd h5 { font-size: 12px; line-height: 20px; color: #333; margin: 4px 0 2px 0;}

/* 面包屑所在位置 */
.nch-breadcrumb-layout { text-align: center;}
.nch-breadcrumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: left; height: 20px; padding: 10px 0; margin: 0 auto;}
.nch-breadcrumb span { font-size: 12px; line-height: 20px; color: #999; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/* IE6,7*/; height: 20px; zoom: 1;}
.nch-breadcrumb i { font-size: 14px; color: #AAA; margin-right: 4px;}
.nch-breadcrumb span.arrow { font-family: "宋体"; line-height: 20px; color: #AAA; margin: 0 6px;}
.nch-breadcrumb a { color: #777; display: block; }
.nch-breadcrumb a:hover { color: #D93600;}