<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.users.mapper.read.ReadUserMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.users.pojo.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="DATE" />
    <result column="upcreated" property="upcreated" jdbcType="DATE" />
    <result column="login_num" property="loginNum" jdbcType="INTEGER" />
    <result column="login_time" property="loginTime" jdbcType="TIME" />
    <result column="old_login_time" property="oldLoginTime" jdbcType="TIME" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="old_login_ip" property="oldLoginIp" jdbcType="VARCHAR" />
    <collection property="roleList" ofType="org.goshop.users.pojo.Role">
      <id column="r_id" property="id" jdbcType="BIGINT" />
      <result column="r_name" property="name" jdbcType="VARCHAR" />
      <result column="r_alias" property="alias" jdbcType="VARCHAR" />
      <result column="r_enable" property="enable" jdbcType="INTEGER" />
      <result column="r_type" property="type" jdbcType="INTEGER" />
    </collection>
  </resultMap>
    <resultMap id="roleResultMap" type="org.goshop.users.pojo.Role" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="enable" property="enable" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
    </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, login_name, password, salt, enable, type, created, upcreated,login_num,login_time,
    old_login_time, login_ip,old_login_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gs_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findByLoginName" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from gs_user
    where login_name = #{loginName,jdbcType=VARCHAR}
  </select>

  <select id="findOfRoleOne" resultMap="BaseResultMap" parameterType="java.lang.Long" >
     SELECT
	u.*,r.id as r_id,r.name as r_name,r.alias as r_alias,r.enable as r_enable,r.type as r_type FROM
	(
		gs_user u
		LEFT JOIN gs_user_role o ON u.id = o.u_id
	)
    LEFT JOIN gs_role r ON o.r_id = r.id
    WHERE u.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findByLoginNameCount" resultType="int" parameterType="string" >
    SELECT
    count(*)
    FROM  gs_user
    where login_name = #{loginName,jdbcType=VARCHAR}
  </select>

    <select id="findByRole" resultMap="roleResultMap" parameterType="java.lang.Long" >
        SELECT
        r.*
        FROM
        gs_user u	LEFT JOIN gs_user_role o ON u.id = o.u_id
        LEFT JOIN gs_role r ON o.r_id = r.id
        WHERE
        u.id  =  #{userId,jdbcType=BIGINT}
        and r.id is not null
    </select>

    <select id="findByRoleCount" resultType="int"  >
        SELECT
        count(*)
        FROM
        gs_user u
        LEFT JOIN gs_user_role o ON u.id = o.u_id
        LEFT JOIN gs_role r ON o.r_id = r.id
        WHERE
        u.id =  #{userId}
        AND r. NAME =  #{roleName}
    </select>

</mapper>